* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    background-color: #e0f7fa;
}

.sidebar {
    width: 200px;
    background-color: #d1c4e9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #4caf50;
}

.sidebar textarea, .sidebar input[type="date"] {
    width: 100%;
}

.sidebar button {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    background-color: #7e57c2;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sidebar button:hover {
    background-color: #6a1b9a;
}

.matrix {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin: 20px 0;
}

.quadrant {
    border: 2px solid #ccc;
    padding: 20px;
    background-color: #f1f8e9;
    text-align: center;
    position: relative;
}

.tasks {
    margin-top: 10px;
}

.task {
    padding: 10px;
    background-color: #ffcc80;
    cursor: grab;
    border: 1px solid #888;
    border-radius: 5px;
    text-align: center;
    margin: 5px 0;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task:hover {
    background-color: #ffe0b2;
}

.delete-button {
    background-color: #ff5252;
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
}

.delete-button:hover {
    background-color: #d50000;
}

